<div class="card text">
    <h4 class="card-header d-flex justify-content-between" style="background-color: antiquewhite">
        Welcome Homepage Admin
        <a class="btn btn-sm btn-outline-primary" href="/admin/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
           Category
        </a>
    </h4>
</div>