<div class="card text">
    <h4 class="card-header d-flex justify-content-between" style="background-color: antiquewhite">
        Chào mừng đến với quản lý User
    </h4>
</div>
<div class="container-fluid mt-5">
    <div class="card-deck">
        <div class="card bg-danger border-dark">
            <div class="card-body">
                <h5 class="card-title">SELLER</h5>
                <p class="card-text">Danh sách Seller.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <a href="/admin/user/seller" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Chi tiết
                    </a>
                </small>
            </div>
        </div>
        <div class="card bg-warning border-dark">
            <div class="card-body">
                <h5 class="card-title">BIDDER</h5>
                <p class="card-text">Danh sách Bidder.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <a href="/admin/user/bidder" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Chi tiết
                    </a>

                </small>
            </div>
        </div>
        <div class="card bg-success border-dark">
            <div class="card-body">
                <h5 class="card-title">NÂNG CẤP BIDDER THÀNH SELLER</h5>
                <p class="card-text">Danh sách bidder chờ được nâng cấp.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <a href="/admin/user/upgrade" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Chi tiết
                    </a>
                </small>
            </div>
        </div>
    </div>
</div>